:host {
  ::ng-deep {

    $arrow-column-width: 55px;
    $title-horizontal-margin: -35px; // allow to overlap arrow wrapper
    $title-line-clamp: 2;

    h1.carousel-header {
      font-size: 2rem;
    }

    .image-column {

      // blurried backdrop
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      // foreground image
      .image-wrapper {
        width: 100%;
        height: 100%;
        &.blurry-backdrop {
          backdrop-filter: blur(12px) brightness(.7);
        }
        img {
          max-width: 95%;
          max-height: 95%;
        }
      }

      &.placeholder-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('/assets/images/replacement_image.svg');
      }

    }

    .caption-column {

      h1 {
        margin-left: $title-horizontal-margin;
        margin-right: $title-horizontal-margin;
        // Line clamping
        display: -webkit-box;
        white-space: pre-wrap;
        overflow: hidden;
        min-height: 2lh;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $title-line-clamp;
      }

      .arrow-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: $arrow-column-width;
        cursor: pointer;
      }

      .caption-wrapper {
        .caption {
          position: relative;
          overflow: hidden;
          &-fade {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1lh;
            background-image: linear-gradient(to bottom, transparent, var(--bs-dark));
          }
        }

        button.toggle-paused {
          color: var(--ds-carousel-controls-color);
          outline: none;
          box-shadow: none !important
        }
      }
    }

  }


}
