:host {
  ::ng-deep {

    $arrow-column-width: 55px;
    $title-horizontal-margin: -35px; // allow to overlap arrow wrapper
    $title-line-clamp: 2;


    // Carousel height
    @include media-breakpoint-up(lg) {
      .image-column, .caption-column, .caption-wrapper {
        height: var(--ds-glam-carousel-height);
      }
    }
    @include media-breakpoint-down(md) {
      .image-column {
        height: var(--ds-glam-carousel-mobile-image-height);
      }
      .caption-column, .caption-wrapper {
        height: var(--ds-glam-carousel-mobile-caption-height);
      }
    }


    .image-column {

      // blurried backdrop
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      // foreground image
      .image-wrapper {
        width: 100%;
        height: 100%;
        &.blurry-backdrop {
          backdrop-filter: blur(12px) brightness(.7);
        }
        img {
          max-width: 95%;
          max-height: 95%;
        }
      }

      &.placeholder-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('/assets/images/replacement_image.svg');
      }

    }

    .caption-column {

      color: var(--ds-glam-carousel-caption-color);
      background-color: var(--ds-glam-carousel-caption-background);

      .carousel-header {
        margin-left: $title-horizontal-margin;
        margin-right: $title-horizontal-margin;
        white-space: pre-wrap;
        font-size: 40px;
        font-weight: 700;
      }

      .arrow-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: $arrow-column-width;
        cursor: pointer;
        color: var(--ds-glam-carousel-controls-color);
        position: relative;
      }

      .caption-wrapper {
        .caption {
          position: relative;
          overflow: hidden;
          &-fade {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1lh;
            background-image: linear-gradient(to bottom, transparent, var(--ds-glam-carousel-caption-background));
          }
        }

        button.toggle-paused {
          color: var(--ds-glam-carousel-controls-color);
          outline: none;
          box-shadow: none !important
        }
      }
    }

  }


}
