:host ::ng-deep {
  // For proper scoping, do not include the .css file suffix here
  @import "../../form.component";
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

:host ::ng-deep .form-select, {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") !important;
}

:host ::ng-deep .btn-group-toggle > .btn input[type="radio"] {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}

:host ::ng-deep dynamic-ng-bootstrap-radio-group {
  display: block;
  width: 100%;
  > .btn-group.btn-group-toggle {
    width: 100%;
  }
}

:host ::ng-deep .custom-control-input.is-invalid ~ .custom-control-label {
  color: var(--bs-form-invalid-color);
}

.invalid-feedback {
  margin-top: 0;
}

.col-form-label {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0.25rem;
}

label {
  margin-bottom: 0.25rem;
}

.date-field-security {
  padding-top: 2rem;
}


