.form-control {
  box-shadow: none;
  border: solid 3px #5a5a5a;
  border-right: 0 !important;
  border-radius: 0;
}

.btn-outline-secondary {
  border: solid 3px #5a5a5a;
  border-left: 0;
  box-shadow: none;
  border-radius: 0;
  font-size: 13px;
}
