<div class="container mt-5">
  <div class="text-center mb-4">
    {{ ('label.title.slider.' + sliderSection.discoveryConfigurationName) | translate }}
  </div>

  <div
    style="display: grid; justify-content: space-between; place-items: center;"
    [style.grid-template-columns]="'repeat(' + cardsPerPage + ', 1fr)'"
  >
    <a *ngFor="let item of currentPageItems()"
       [href]="item.indexableObject.metadata[link]?.[0].value"
       target="_blank"
       style="height: 280px; width: 200px"
       class="img-container-el">
      <ng-container
        *ngIf="(itemToImageHrefMap$ | async).get(item.indexableObject.uuid); let href; else defaultPreviewImage">
        <img [src]="href" [alt]="item.indexableObject.metadata[title]?.[0].value"
             style="width: 100%; height: 100%; object-fit: cover">
      </ng-container>
      <ng-template #defaultPreviewImage>
        <img src="assets/images/replacement_image.svg" style="width: 100%; height: 100%; object-fit: cover">
      </ng-template>
      <div class="description">
        {{ item.indexableObject.metadata[title]?.[0].value }}
      </div>
    </a>
  </div>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1" class="prev">
      <i class="fa fa-arrow-left"></i>
    </button>
    <button
      *ngFor="let page of pages()"
      class="number"
      (click)="currentPage = page"
      style="border: none; background: none; margin: 0 5px"
      [style.color]="page === currentPage ? '#000000' : '#7c7c7c'">
      {{ page < 10 ? '0' + page : page }}
    </button>
    <button (click)="nextPage()" [disabled]="currentPage === pages().length" class="next">
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>
</div>
