<div class="grid-container py-5">
  <div class="cris-section-element-background path-title">
    <div class="inner-container d-flex flex-column justify-content-center gap-3 h-100">
      <div class="main-content-badge mb-3">{{ maincontentBadge | translate }}</div>
      <h2>
        <div class="main-content-title-1">
          {{ maincontentTitle | translate }}
        </div>
        <div class="main-content-title-2">
          {{ maincontentSubtitle | translate }}
        </div>
      </h2>
      <p class="main-content-text text-muted">
        {{ maincontentAbstract | translate }}
      </p>
      <div class="align-self-end">
        <button type="button" class="btn btn-dark" (click)="goToMainContentLink()">
          {{ 'explore.grid-section.seeAll' | translate }}
        </button>
      </div>
    </div>
  </div>
  @defer {
    @if (!isLoading) {
      @for (item of (searchResults | slice:0:8); track item.indexableObject?.uuid) {
        <div class="cris-section-element-background text-center position-relative d-flex flex-column
              justify-content-between align-items-center path-item"
             [dsBackgroundImage]="(itemToImageHrefMap$ | async).get(item.indexableObject?.uuid)"
        >
          <a [routerLink]="[getItemPageRoute(item.indexableObject)]" class="mw-100 p-3">
            <p class="text-center m-0 text-truncate">{{ item.indexableObject?.firstMetadataValue('dc.title') }}</p>
          </a>
        </div>
      }
    } @else {
      <ng-container *ngTemplateOutlet="skeletons"></ng-container>
    }
  } @placeholder {
    <ng-container *ngTemplateOutlet="skeletons"></ng-container>
  }
  <ng-template #skeletons>
    @for (i of [1, 2, 3, 4, 5, 6, 7, 8]; track i) {
      <ngx-skeleton-loader class="w-100 h-100 aspect-ratio-1" [theme]="{height: '100%', width: '100%'}"></ngx-skeleton-loader>
    }
  </ng-template>
</div>
