<ng-container *ngIf="!!tab">
  <div class="container">
    <ng-container *ngFor="let row of tab.rows">
      <div [class]="row.style" [class.row]="!hasRowClass(row.style)">
        <ng-container *ngFor="let cell of row.cells">
          <div class="cell" [class]="cell.style" [class.col]="!hasColClass(cell.style)" [class.px-0]="!showCellPadding">
            <ng-container *ngFor="let box of cell.boxes">
              <ds-cris-layout-box-container [box]="box" [item]="item"></ds-cris-layout-box-container>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>
<section>
  <div class="container">
    <div class="image-card p-5">
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-center flex-column text-center">
          <h2 class="card-title">Titolo</h2>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Quaerat asperiores dolores nulla aut corporis sunt voluptate consectetur cum facilis,
            culpa laboriosam harum, quasi ullam, commodi at nisi reiciendis sit modi.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
