@if (!hasNoDownload) {
  @if (bitstreamPath$ | async; as bitstreamLink) {
    @if (canDownload$ | async) {
      <button [routerLink]="bitstreamLink?.routerLink" [queryParams]="bitstreamLink?.queryParams" class="btn btn-outline-primary"
        data-test="download">
        <i class="fas fa-download"></i> {{ 'cris-layout.advanced-attachment.download' | translate }}
      </button>
    } @else {
      <button [routerLink]="bitstreamLink?.routerLink"
        [queryParams]="bitstreamLink?.queryParams"
        [dsBtnDisabled]="(canRequestItemCopy$ | async) !== true"
        class="btn btn-outline-primary"
        data-test="requestACopy">
        {{ 'cris-layout.advanced-attachment.requestACopy' | translate }}
      </button>
    }
  }
}
