:host {
  ::ng-deep {

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 32px;
      height: 32px;
      background-color: var(--ds-carousel-controls-color);
      background-origin: content-box;
      border-radius: 16px;
    }

    .carousel-control-prev-icon {
      padding: 6px 7px 6px 5px;
      position: absolute;
      left: 0;
      transform: translateX(100%);
    }

    .carousel-control-next-icon {
      padding: 6px 5px 6px 7px;
      position: absolute;
      right: 0;
      transform: translateX(-100%);
    }

    .carousel-control-prev,
    .carousel-control-next {
      cursor: pointer;
      width: 12%;
    }

    .carousel-indicators {
      padding-bottom: 6px;
    }

    .carousel-indicators li {
      display: none;
    }

    .carousel-caption {
      color: var(--ds-carousel-caption-color);
    }
  }

  .ds-carousel {
    height: fit-content;
  }

  .carousel-caption-inner {
    //width: 80%;
    margin: 0 auto;
  }

  .picsum-img-wrapper {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    backdrop-filter: blur(12px) brightness(.7);

    img.blurry-backdrop {
      max-width: 95%;
      max-height: 95%;
    }
  }

  .carousel-content-wrapper {
    z-index: -1;
    min-height: 180px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .carousel-caption-text {
    overflow-y: scroll;
    max-height: 4.5rem;
  }

  .carousel-caption-text::-webkit-scrollbar {
    width: 10px;
  }

  .carousel-caption-text::-webkit-scrollbar-track {
    background: none;
  }

  .carousel-caption-text::-webkit-scrollbar-thumb {
    background-color: var(--ds-carousel-controls-color);
    border-radius: 10px;
    border: none;
  }

  button.toggle-paused {
    color: var(--ds-carousel-controls-color);
    outline: none;
    box-shadow: none !important
  }

  div.thumbnail-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-content: start;

    div.thumbnail-container {
      cursor: pointer;
      overflow: hidden;
      height: 125px;

      &.selected {
        box-shadow: 0px 0px 0px 3px $primary inset;
      }
    }

    overflow-y: scroll;

    // Scrollbar styling
    & {
      scrollbar-width: thin;
      scrollbar-color: var(--ds-carousel-scrollbar-color) transparent;
    }

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--ds-carousel-scrollbar-color);
      border-radius: 1ex;
    }
  }

  .carousel-thumbnail-container {
    display: flex;
    flex-direction: row;
  }

  .thumbnail-up-icon {
    transform: rotate(-90deg) translate(-28%, 50%);
  }

  .thumbnail-down-icon {
    transform: rotate(90deg) translate(28%, -50%);
  }

  .thumbnail-up-icon,
  .thumbnail-down-icon {
    background-color: var(--ds-carousel-controls-color-hover);
    opacity: 0.8;

    &:hover {
      background-color: var(--ds-carousel-controls-color);
      opacity: 1;
    }
  }

  .thumbnail-up-btn,
  .thumbnail-down-btn {
    position: absolute;
    right: 50%;
    cursor: pointer;

    &.thumbnail-down-btn {
      bottom: 10%;
    }
  }
}
