<ng-container *ngIf="itemList.length > 0">
  <div class="carousel-thumbnail-container">
    <ngb-carousel #carousel [interval]="99999999" (slide)="onSlide($event)" class="ds-carousel position-relative col p-0">
      <ng-template ngbSlide *ngFor="let item of itemList; let i = index; let last = last" [attr.id]="'ngb-slide-' + i">
        <div class="carousel-content-wrapper"
            *ngIf="(itemToImageHrefMap$ | async).get(item.uuid); let href; else placeholderImage"
            [ngStyle]="{
                    'background-image': 'url(' + href || '' + ')',
                    'height': carouselOptions.keepAspectRatio ? null : carouselOptions.carouselHeightPx + 'px',
                    'aspect-ratio': carouselOptions.keepAspectRatio ? carouselOptions.aspectRatio : null
              }">
          <div class="picsum-img-wrapper">
            <img [src]="href" [alt]="item.metadata[title][0].value" class="img-fluid blurry-backdrop">
          </div>
        </div>
        <ng-template #placeholderImage>
          <div class="carousel-content-wrapper"
              [ngStyle]="{
                    'height': carouselOptions.keepAspectRatio ? null : carouselOptions.carouselHeightPx + 'px',
                    'aspect-ratio': carouselOptions.keepAspectRatio ? carouselOptions.aspectRatio : null
              }">
            <div class="picsum-img-wrapper">
              <img [src]="placeholderSrc" [alt]="item.metadata[title][0].value" class="img-fluid blurry-backdrop"
                  [ngClass]="{'w-100': carouselOptions.fitWidth, 'h-100': carouselOptions.fitHeight}">
            </div>
          </div>
        </ng-template>
      </ng-template>
    </ngb-carousel>
    <div class="col-2 p-0" *ngIf="!(isSmallDevice$ | async) || itemToImageHrefMap$.getValue().size > 0">
      <div>
        <a role="button" class="thumbnail-up-btn" (click)="getPrev()" *ngIf="!isFirstItem">
          <span aria-hidden="true" class="carousel-control-next-icon thumbnail-up-icon"></span>
        </a>
        <a role="button" class="thumbnail-down-btn" (click)="getNext()" *ngIf="!isLastItem">
          <span aria-hidden="true" class="carousel-control-next-icon thumbnail-down-icon"></span>
        </a>
      </div>
      <div class="thumbnail-grid"
          [ngStyle]="{'height': carouselOptions.carouselHeightPx+ 'px'}" #thumbnailContainer>
        <ng-container *ngFor="let item of itemList; index as i">
          <ng-container *ngIf="(itemToImageHrefMap$ | async)?.get(item.uuid); let href;">
            <div class="thumbnail-container"
                [ngClass]="{'selected': activeItemIndex === i}"
                (click)="setActiveItem(i)"
                #thumbnails
                [dsBackgroundImage]="href ?? placeholderSrc"
                >
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="text-center my-5">
      <h2 class="font-weight-bold" [class]="carouselOptions.titleStyle"
          *ngIf="activeItem?.metadata[title]">
        {{activeItem?.metadata[title][0].value}}</h2>
      <p [class]="carouselOptions.captionStyle"
        *ngIf="activeItem?.metadata[description]; let descriptionObj">
        {{descriptionObj[0].value}}
      </p>
      <ng-container *ngIf="getItemLink(activeItem); let currentLink">
        <a *ngIf="isLinkInternal(currentLink)" [routerLink]="currentLink">
          <ng-container *ngTemplateOutlet="seeMoreButton"></ng-container>
        </a>
        <a *ngIf="!isLinkInternal(currentLink)" [href]="currentLink"
          [target]="carouselOptions.targetBlank ? '_blank' : null">
          <ng-container *ngTemplateOutlet="seeMoreButton"></ng-container>
        </a>
      </ng-container>
      <ng-template #seeMoreButton>
        <button type="button" class="btn btn-secondary mt-3">{{'carousel.button.see-more' | translate}}</button>
      </ng-template>
    </div>
  </div>
</ng-container>
