<ngb-carousel #carousel [interval]="99999999" (slide)="onSlide($event)" class="ds-carousel position-relative">
  <ng-template ngbSlide *ngFor="let item of items; let i = index; let last = last" [attr.id]="'ngb-slide-' + i">
    <div class="carousel-content-wrapper"
         *ngIf="(itemToImageHrefMap$ | async).get(item.indexableObject.uuid); let href; else placeholderImage"
         [ngStyle]="{
                'background-image': 'url(' + href || '' + ')',
                'height': carouselOptions.keepAspectRatio ? null : carouselOptions.carouselHeightPx + 'px',
                'aspect-ratio': carouselOptions.keepAspectRatio ? carouselOptions.aspectRatio : null
           }">
      <div class="picsum-img-wrapper">
        <img [src]="href" [alt]="item.indexableObject.metadata[title][0].value" class="img-fluid blurry-backdrop">
      </div>
    </div>
    <ng-template #placeholderImage>
      <div class="carousel-content-wrapper"
           [ngStyle]="{
                'height': carouselOptions.keepAspectRatio ? null : carouselOptions.carouselHeightPx + 'px',
                'aspect-ratio': carouselOptions.keepAspectRatio ? carouselOptions.aspectRatio : null
           }">
        <div class="picsum-img-wrapper">
          <img [src]="placeholderSrc" [alt]="item.indexableObject.metadata[title][0].value" class="img-fluid blurry-backdrop"
               [ngClass]="{'w-100': carouselOptions.fitWidth, 'h-100': carouselOptions.fitHeight}">
        </div>
      </div>
    </ng-template>
  </ng-template>
</ngb-carousel>
<div class="thumbnail-grid">
  <div class="thumbnail-container" [ngClass]="{'selected': activeItemIndex === i}"
       *ngFor="let item of items; index as i" (click)="setActiveItem(i)"
       [dsBackgroundImage]="item.indexableObject?.thumbnail | async"></div>
</div>
<div class="container">
  <div class="text-center my-5">
    <h2 class="font-weight-bold" [class]="carouselOptions.titleStyle"
        *ngIf="activeItem?.indexableObject?.metadata[title]">
      {{activeItem?.indexableObject?.metadata[title][0].value}}</h2>
    <p [class]="carouselOptions.captionStyle"
       *ngIf="activeItem?.indexableObject?.metadata[description]; let descriptionObj">
      {{descriptionObj[0].value}}
    </p>
    <ng-container *ngIf="getItemLink(activeItem?.indexableObject); let currentLink">
      <a *ngIf="isLinkInternal(currentLink)" [routerLink]="currentLink">
        <ng-container *ngTemplateOutlet="seeMoreButton"></ng-container>
      </a>
      <a *ngIf="!isLinkInternal(currentLink)" [href]="currentLink"
         [target]="carouselOptions.targetBlank ? '_blank' : null">
        <ng-container *ngTemplateOutlet="seeMoreButton"></ng-container>
      </a>
    </ng-container>
    <ng-template #seeMoreButton>
      <button type="button" class="btn btn-secondary mt-3">{{'carousel.button.see-more' | translate}}</button>
    </ng-template>
  </div>
</div>
