<div class="text-center" *ngIf="initLoading$ | async">
  <ds-loading message="{{'loading.default' | translate}}"></ds-loading>
</div>
<div *ngIf="(initLoading$ | async) !== true" class="container mt-5">
  <div class="text-center mb-4">
    {{ ('label.title.slider.' + discoveryConfiguration) | translate }}
  </div>

  <div *ngIf="(itemsImagesLoading$ | async) !== true"
       style="display: grid; justify-content: space-between; place-items: center;"
       [style.grid-template-columns]="'repeat(' + cardsPerPage + ', 1fr)'"
  >
    <a *ngFor="let item of currentPageItems()"
       [href]="getItemLink(item)"
       target="_blank"
       class="img-container-el">
      @defer {
        @if ((itemsImagesLoading$ | async) === false) {
          @if ((itemToImageHrefMap$ | async)?.get(item.uuid); as href) {
            <img [src]="href" [alt]="item.metadata[title]?.[0].value">
          } @else {
            <img [src]="placeholderSrc" [alt]="item.metadata[title]?.[0].value">
          }
        } @else {
          <ng-container *ngTemplateOutlet="imageSkeleton"></ng-container>
        }
      } @placeholder {
        <ng-container *ngTemplateOutlet="imageSkeleton"></ng-container>
      }
      <ng-template #imageSkeleton>
        <ngx-skeleton-loader class="h-100 w-100" [theme]="{height: '100%', width: '100%'}"></ngx-skeleton-loader>
      </ng-template>
      <div class="description">
        {{ item.metadata[title]?.[0].value }}
      </div>
    </a>
  </div>

  <div *ngIf="(itemsImagesLoading$ | async)"
       style="display: grid; justify-content: space-between; place-items: center;"
       [style.grid-template-columns]="'repeat(' + cardsPerPage + ', 1fr)'"
  >
    <a *ngFor="let item of currentLoadingPageItems()"
       href="#"
       target="_blank"
       class="img-container-el">
      <img [src]="placeholderSrc">

      <div class="description">
        {{ 'loading.default' | translate }}
      </div>
    </a>
  </div>

  <div class="pagination">
    <button (click)="previousPage()" [dsBtnDisabled]="currentPage === 1" class="prev">
      <i class="fa fa-arrow-left"></i>
    </button>
    <button
      *ngFor="let page of pages()"
      class="number"
      (click)="changePage(page)"
      style="border: none; background: none; margin: 0 5px"
      [style.color]="page === currentPage ? '#000000' : '#7c7c7c'">
      {{ page < 10 ? '0' + page : page }}
    </button>
    <button (click)="nextPage()" [dsBtnDisabled]="currentPage === pages().length" class="next">
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>
</div>
