<div class="grid-wrapper max-items-{{elementsPerPage}}">
  <ng-container *ngFor="let object of searchResults?.payload?.page; let i = index; let last = last">
    <img [src]="(itemToImageHrefMap$ | async).get(object.indexableObject?.uuid)" alt="hidden-image" style="display: none" #image>
    <div class="thumbnail-container"
         [class.landscape]="elementsPerPage > 6 && image.naturalWidth > maxSquareRatio * image.naturalHeight"
         [class.portrait]="elementsPerPage > 6 && image.naturalHeight > maxSquareRatio * image.naturalWidth">
      <div class="thumbnail-inner-container w-100 h-100 position-relative" [dsBackgroundImage]="(itemToImageHrefMap$ | async).get(object.indexableObject?.uuid)">
        <ds-type-badge [object]="object.indexableObject"></ds-type-badge>
        <a [routerLink]="[getItemPageRoute(object.indexableObject)]" class="h-100 mw-100 p-3">
          <p class="h4 text-center m-0">{{object.indexableObject.firstMetadataValue('dc.title')}}</p>
        </a>
      </div>
    </div>
  </ng-container>
</div>
