<div class="card-columns">
  <div class="card" *ngFor="let object of searchResults?.payload?.page; let i = index; let last = last">
      <div class="text-center">
        <div class="thumbnail-container position-relative m-auto">
          <ds-thumbnail [thumbnail]="object.indexableObject?.thumbnail | async" [limitWidth]="false" [alt]="'menu.header.image.logo' | translate">
          </ds-thumbnail>
          <ds-type-badge [object]="object.indexableObject"></ds-type-badge>
        </div>
          <a [routerLink]="[getItemPageRoute(object.indexableObject)]">
            <h3 class="h4 text-center text-secondary mt-4 text-truncate">{{object.indexableObject.firstMetadataValue('dc.title')}}</h3>
          </a>
      </div>
  </div>
</div>
