div.thumbnail-container {
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;

  a {
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: center;
  }

  ds-type-badge {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 125%;
  }

  &.landscape {
    grid-row-end: span 1;
    grid-column-end: span 2;
    aspect-ratio: 2 / 1;
  }

  &.portrait {
    grid-row-end: span 2;
    grid-column-end: span 1;
  }
}

.grid-wrapper {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: .5em;
  @include media-breakpoint-only(md) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

p {
  background-color: rgba(255, 255, 255, .7);
  padding: .6em;
  border-radius: $border-radius;
}
