div.thumbnail-container {
  width: fit-content;

  ds-type-badge {
    position: absolute;
    bottom: .5em;
    right: .5em;
  }
}

.card-columns {
  column-count: 3;
  @include media-breakpoint-up(lg) {
    column-count: 4;
  }
}
