div.thumbnail-container {
  display: flex;
  flex-direction: column;
  order: 3; // square elements should be used as hole fillers

  a {
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: center;
  }

  ds-type-badge {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 125%;
  }

  &.landscape {
    order: 2;
    grid-row-end: span 1;
    grid-column-end: span 2;
    aspect-ratio: 2 / 1;
  }

  &.portrait {
    order: 1; // portrait elements should be placed first in order to prevent holes on the bottom
    grid-row-start: -1;
    grid-row-end: span 2;
    grid-column-end: span 1;
  }
}

.grid-wrapper {
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 1fr;
  grid-gap: .5em;
  @include media-breakpoint-down(xs) {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 2fr;
  }
  @include media-breakpoint-only(sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }

  div.thumbnail-container {
    aspect-ratio: 1;

    @include media-breakpoint-down(xs) {
      aspect-ratio: unset;
    }
  }

  &.max-items-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  }
}

p {
  background-color: rgba(255, 255, 255, .7);
  padding: .6em;
  border-radius: $border-radius;
}
