<div class="bg-light py-5">
  <div class="container">
    <div>
      <h1 class="text-dark mb-5 font-weight-bold" *ngIf="topSection.titleKey">
        {{ "explore.index." + topSection.titleKey | translate }}
      </h1>
      <h1 class="text-dark mb-5 font-weight-bold" *ngIf="!topSection.titleKey">
        {{ "explore.index." + topSection.sortField | translate }}
      </h1>
    </div>

    <ds-themed-browse-most-elements [context]="context" [paginatedSearchOptions]="paginatedSearchOptions"
                                    [topSection]="topSection" [mode]="layoutMode">
    </ds-themed-browse-most-elements>
  </div>
</div>
