// Override or add CSS variables for your theme here

:root {
  --ds-header-logo-height: 80px;
  --ds-banner-text-background: rgba(0, 0, 0, 0.45);
  --ds-banner-background-gradient-width: 300px;
  --ds-home-news-link-color: #{$green};
  --ds-home-news-link-hover-color: #{darken($green, 15%)};
  --ds-breadcrumb-link-color: #{$glam-gray};
  --ds-breadcrumb-link-active-color: #{darken($glam-gray, 30%)};
  --ds-navbar-link-color: #{$glam-gray};
  --ds-navbar-link-color-hover: #{darken($glam-gray, 15%)};
  --ds-cris-layout-sidebar-menu-active-color: #{$glam-gray};

  --ds-cris-section-vertical-padding: 4rem;
  --ds-cris-section-horizontal-padding: 7%;
  --ds-cris-section-title-font-size: 40px;
  --ds-cris-section-title-font-weight: bold;
  --ds-cris-path-section-title-font-size: 32px;

  // set property "layout.sections.enableAlternateBackground" to true to enable alternate background
  --ds-cris-section-bg-color-light: #{$white};
  --ds-cris-section-bg-color-dark: #{$light}; // not a mistake: "light" is darker than "white"
  --ds-cris-section-color-dark: #{$body-color};

  --ds-carousel-controls-color: #{$ds-glam-carousel-controls-color};
  --ds-carousel-with-thumbnails-controls-color: #{$gray-400};

  --ds-glam-carousel-caption-color: #{$ds-glam-carousel-caption-color};
  --ds-glam-carousel-caption-background: #{$ds-glam-carousel-caption-background};
  --ds-glam-carousel-controls-color: #{$ds-glam-carousel-controls-color};
  --ds-glam-carousel-height: #{$ds-glam-carousel-height};
  --ds-glam-carousel-mobile-image-height: #{$ds-glam-carousel-mobile-image-height};
  --ds-glam-carousel-mobile-caption-height: #{$ds-glam-carousel-mobile-caption-height};

  --ds-counters-max-columns-per-row: 4;
  --ds-counters-column-gap: 1rem;
  --ds-counters-min-width: 220px;
  --ds-counters-border-bottom: solid 1px #{$body-color};
}

