// Override or add CSS variables for your theme here

:root {
  --ds-header-logo-height: 80px;
  --ds-banner-text-background: rgba(0, 0, 0, 0.45);
  --ds-banner-background-gradient-width: 300px;
  --ds-home-news-link-color: #{$green};
  --ds-home-news-link-hover-color: #{darken($green, 15%)};
  --ds-breadcrumb-link-color: #{$darker};
  --ds-breadcrumb-link-active-color: #{darken($darker, 30%)};
  --ds-navbar-link-color: #{$darker};
  --ds-navbar-link-color-hover: #{darken($darker, 15%)};
  --ds-cris-layout-sidebar-menu-active-color: #{$darker};

  // set property "layout.sections.enableAlternateBackground" to true to enable alternate background
  --ds-homepage-section-bg-color-light: #{$white};
  --ds-homepage-section-bg-color-dark: #{$light}; // not a mistake: "light" is darker than "white"
}

