<div class="m-2">
  @if ((searchResults$ | async); as searchResults) {
    @if (searchResults?.hasSucceeded) {
      <ul class="list-unstyled">
        @for (object of searchResults?.payload?.page; track object; let i = $index; let last = $last) {
          <li class="mt-4 mb-4 d-flex" [class.border-bottom]="last !== true">
            <ds-listable-object-component-loader [context]="context"
              [index]="i"
              [listID]="paginatedSearchOptions.configuration"
              [object]="object"
              [showMetrics]="showMetrics"
              [showLabel]="showLabel"
              [showThumbnails]="showThumbnails"
              [viewMode]="paginatedSearchOptions.view"></ds-listable-object-component-loader>
          </li>
        }
      </ul>
    }
    @if (searchResults?.hasFailed) {
      <div>
        {{ 'remote.error' | translate }}
      </div>
    }
  } @else {
    @for (item of skeletonItems; track item) {
      <div class="skeleton-row row my-4">
        @if (showThumbnails) {
          <div class="col-3 col-md-2">
            <div class="thumbnail-skeleton">
              <ngx-skeleton-loader></ngx-skeleton-loader>
            </div>
          </div>
        }
        <div [class.col-9]="showThumbnails" [class.col-md-10]="showThumbnails" [class.col-12]="!showThumbnails">
          <div class="badge-skeleton">
            <ngx-skeleton-loader></ngx-skeleton-loader>
          </div>
          <div class="text-skeleton">
            <ngx-skeleton-loader [count]="2"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
    }
  }
</div>
