.footer-section {
    .footer-top {
        padding: 25px 0;
        border-top: solid 2px #cddce2;
        border-bottom: solid 2px #cddce2;

        .footer-link {
            display: block;
            padding: 0.25rem 0;
            font-size: 14px;
            color: #676c71;

            &:hover {
                color: #000;
                text-decoration: none;
            }
        }

        .title {
            text-transform: uppercase;
        }

        .institution-img {
            img {
                width: 120px;
            }
        }
    }

    .footer-copyrights {
        color: #676c71;

        img.logo-4science {
          vertical-align: -10%;
        }

        a {
            color: #676c71;
            text-decoration: none;

            &:hover {
                color: #000;
            }
        }
    }
}
