<div class="btn-group" (click)="onToggle()" role="switch" [attr.aria-checked]="isOn" [attr.aria-label]="ariaLabel">
  <div class="switch-container" [ngClass]="backgroundClass">
    <div>
      <div class="switch-opt" [class.bg-white]="isOn">
        <i *ngIf="onOption?.icon" [class]="onOption.icon + ' ' + (isOn ? 'text-' + onOption.iconColor : '')"></i>
      </div>
    </div>
    <div>
      <div class="switch-opt" [class.bg-white]="!isOn">
        <i *ngIf="offOption?.icon" [class]="offOption.icon + ' ' + (!isOn ? 'text-' + offOption.iconColor : '')"></i>
      </div>
    </div>
  </div>
  <span *ngIf="activeOption?.label"
        [class]="'text-' + (activeOption?.labelColor || '')"
        class="visibility-label ml-2 font-weight-bold">
    {{ activeOption.label | translate }}
  </span>
</div>
