<div class="d-flex flex-row gapx-3 flex-nowrap justify-content-center align-items-center slider-wrapper" #sliderWrapper>
  <div *ngIf="(searchResultArray$ | async)?.length" class="arrow">
    <button [attr.aria-label]="'media-viewer.previous' | translate" class="btn btn-link btn-sm arrow-btn" (click)="prev()"
            [dsBtnDisabled]="(firstItemBS.asObservable() | async) <= 0">
      <i class="fas fa-3x fa-chevron-left"></i>
    </button>
  </div>
  <div class="flex-fill d-flex flex-row gapx-3 flex-nowrap card-element-wrapper justify-content-center">
    <ng-container *ngFor="let item of (selectedSearchResultArray$ | async); let i = index; let last = last">
      <div class="card">
        @defer {
          @if (!isLoading) {
            <img [src]="(itemToImageHrefMap$ | async)?.get(item.uuid)" alt="hidden-image" style="display: none" #image />
            <div class="thumbnail-container h-50">
              <div class="thumbnail-inner-container w-100 h-100 position-relative"
                   [dsBackgroundImage]="(itemToImageHrefMap$ | async)?.get(item.uuid)">
                <ds-type-badge class="pl-1" [object]="item"></ds-type-badge>
              </div>
            </div>
          } @else {
            <ng-container *ngTemplateOutlet="imageSkeleton"></ng-container>
          }
        } @placeholder {
          <ng-container *ngTemplateOutlet="imageSkeleton"></ng-container>
        }
        <ng-template #imageSkeleton>
          <ngx-skeleton-loader class="thumbnail-container h-50" [theme]="{height: '100%', width: '100%'}"></ngx-skeleton-loader>
        </ng-template>
        <div class="text-container p-3 d-flex flex-column justify-content-between h-50">
          <ng-container *ngVar="(item.firstMetadataValue('dc.description.abstract')) as description">
            <div class="mb-3 font-weight-bold" [ngClass]="description ? 'h-25' : 'h-100'">
              <a [routerLink]="[getItemPageRoute(item)]"
                 [ngbTooltip]="item.firstMetadataValue('dc.title')"
                 [ngClass]="description ? 'ellipsis-y-2' : 'ellipsis-y-4'">
                <span>{{ item.firstMetadataValue('dc.title') }}</span>
              </a>
            </div>
            <ng-container *ngIf="description">
              <div class="h-75">
                <p class="ellipsis-y-4">
                  {{ description }}
                </p>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
  <div *ngIf="(searchResultArray$ | async)?.length">
    <button [attr.aria-label]="'media-viewer.next' | translate" class="btn btn-link btn-sm arrow-btn" (click)="next()"
            [dsBtnDisabled]="(firstItemBS.asObservable() | async) + (itemsPerPageBS.asObservable() | async) >= (totalItemsBS.asObservable() | async) ">
      <i class="fas fa-3x fa-chevron-right"></i>
    </button>
  </div>
</div>
