<div [ngSwitch]="(sectionTemplateType | lowercase)">
  <ng-container *ngSwitchCase="templateTypeEnum.IMAGES">
    <ds-themed-images-browse-elements
      [topSection]="topSection"
      [paginatedSearchOptions]="paginatedSearchOptions$ | async"
      [context]="context"
    >
    </ds-themed-images-browse-elements>
  </ng-container>

  <ng-container *ngSwitchCase="templateTypeEnum.SLIDER">
    <ds-themed-slider-browse-elements
      [topSection]="topSection"
      [paginatedSearchOptions]="paginatedSearchOptions$ | async"
      [context]="context"
    >
    </ds-themed-slider-browse-elements>

  </ng-container>

  <ng-container *ngSwitchDefault>
    <ds-themed-default-browse-elements
      [topSection]="topSection"
      [paginatedSearchOptions]="paginatedSearchOptions$ | async"
      [context]="context"
    ></ds-themed-default-browse-elements>
  </ng-container>

  <div *ngIf="topSection.showAllResults && (discoveryConfigurationsTotalElementsMap == null || discoveryConfigurationsTotalElementsMap.get(paginatedSearchOptions.configuration)) > 0" class="d-flex justify-content-center">
    <button type="button" class="btn btn-link" (click)="showAllResults()">
      {{ "home.top-section.view-results" | translate }}
    </button>
  </div>

</div>
