<ds-carousel-relations
  [discoveryConfiguration]="configuration"
  [scope]="item.id"
  [header]="getBoxHeader()"
  *ngIf="box.style?.includes('carousel'); else searchPage">
</ds-carousel-relations>
<ng-template #searchPage>
  <ds-configuration-search-page *ngIf="configuration" class="w-100"
                                [fixedFilterQuery]="searchFilter"
                                [configuration]="configuration"
                                [renderOnServerSide]="false"
                                [searchEnabled]="searchEnabled"
                                [showCharts]="true"
                                [collapseCharts]="true"
                                [showChartsToggle]="true"
                                [showScopeSelector]="false"
                                [showSearchResultNotice]="showSearchResultNotice$ | async"
                                [searchResultNotice]="searchResultNotice">
  </ds-configuration-search-page>
</ng-template>
