.logo-circle {
  width: 80px;
  height: 80px;
  background-color: #ddd;
  border-radius: 100%;
  background-image: url("/assets/images/dspace-glam-logo.png");
  background-repeat: no-repeat;
  background-size: 71px 58px;
  background-position: 5px 8px;
}

.new-navbar {
  .container {
    display: block;

    .top-bar {
      display: flex;
      width: 100%;
    }
  }

  .nav-item {
    a {
      text-transform: uppercase;
      font-size: 14px;
      color: #676c71;

      &:hover {
        color: #000;
      }
    }
  }
}

.right-container {
  display: flex;
  flex-direction: column;
}
