<nav class="navbar new-navbar navbar-expand-lg navbar-light">
  <div class="container">
    <div class="top-bar mb-3">
      <a class="navbar-brand text-center" href="#">
        <div class="logo-circle mb-2"></div>
        DSpace<br/>GLAM
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="ml-auto right-container">

        <ul class="navbar-nav ml-auto mb-auto mt-3">
          <li class="nav-item" *ngIf="mainSiteUrl">
            <a class="nav-link" href="#"><i class="fas fa-home fa-lg fa-fw"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-globe-asia fa-lg fa-fw"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-user fa-lg fa-fw"></i></a>
          </li>
        </ul>

        <ul class="navbar-nav mb-3">
          <li *ngIf="(isXsOrSm$ | async) && (isAuthenticated$ | async)" class="nav-item">
            <ds-user-menu [inExpandableNavbar]="true"></ds-user-menu>
          </li>
          <ng-container *ngFor="let section of (sections | async)">
            <ng-container *ngComponentOutlet="(sectionMap$ | async).get(section.id)?.component; injector: (sectionMap$ | async).get(section.id)?.injector;"></ng-container>
          </ng-container>
        </ul>
      </div>
    </div>
    <div class="input-group top-search">
      <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search fa-lg fa-fw"></i></button>
      </div>
    </div>
  </div>
</nav>
