<nav class="navbar new-navbar navbar-expand-lg navbar-light">
  <div class="container">
    <div class="top-bar mb-3">
      <a class="navbar-brand text-center" href="#">
        <div class="logo-circle mb-2"></div>
        <span>{{ "title" | translate}}</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="ml-auto right-container">

        <ul class="navbar-nav ml-auto mb-auto mt-3">
          <li>
            <a class="nav-link">{{mainSiteUrl}}</a>
          </li>
          <li class="nav-item" *ngIf="mainSiteUrl">
            <a class="nav-link" target="_blank" [href]="'https://' + mainSiteUrl"><i class="fas fa-home fa-lg fa-fw"></i></a>
          </li>
          <li class="nav-item">
            <ds-lang-switch></ds-lang-switch>
          </li>
          <li class="nav-item">
            <ds-auth-nav-menu></ds-auth-nav-menu>
          </li>
        </ul>

        <ul class="navbar-nav mb-3">
          <li *ngIf="(isXsOrSm$ | async) && (isAuthenticated$ | async)" class="nav-item">
            <ds-user-menu [inExpandableNavbar]="true"></ds-user-menu>
          </li>
          <ng-container *ngFor="let section of (sections | async)">
            <ng-container *ngComponentOutlet="(sectionMap$ | async).get(section.id)?.component; injector: (sectionMap$ | async).get(section.id)?.injector;"></ng-container>
          </ng-container>
        </ul>
      </div>
    </div>
    <div class="input-group top-search flex-row-reverse">
      <ds-search-navbar class="navbar-search"></ds-search-navbar>
    </div>
  </div>
</nav>
