<div class="container">
  <h2 id="header">{{'admin.mag-import.page.header' | translate}}</h2>
  <p>{{'admin.mag-import.page.help' | translate}}</p>
  <p *ngIf="dso">
    {{'admin.mag-import.page.selected' | translate}} <b>{{getDspaceObjectName()}}</b>&nbsp;
    <a href="javascript:void(0)" (click)="removeDspaceObject()">{{'admin.mag-import.page.remove' | translate}}</a>
  </p>
  <p>
    <button class="btn btn-primary" (click)="this.selectCollection();">{{'admin.metadata-import.page.button.select-collection' | translate}}</button>
  </p>
  <ds-switch
    [options]="switchOptions"
    [selectedValue]="isUpload ? 'upload' : 'url'"
    (selectedValueChange)="toggleUpload()">
  </ds-switch>
  <small class="form-text text-muted">
    {{'admin.mag-import.page.toggle.help' | translate}}
  </small>


  <ds-file-dropzone-no-uploader
    *ngIf="isUpload"
    data-test="file-dropzone"
    (onFileAdded)="setFile($event)"
    [dropMessageLabel]="'admin.mag-import.page.dropMsg'"
    [dropMessageLabelReplacement]="'admin.mag-import.page.dropMsgReplace'">
  </ds-file-dropzone-no-uploader>

  <div class="form-group mt-2" *ngIf="!isUpload">
    <input class="form-control" type="text" placeholder="{{'admin.mag-import.page.urlMsg' | translate}}"
           data-test="file-url-input" [(ngModel)]="fileURL">
  </div>

  <div class="space-children-mr">
    <button class="btn btn-secondary" id="backButton"
            (click)="this.onReturn();">{{'admin.mag-import.page.button.return' | translate}}</button>
    <button class="btn btn-primary" id="proceedButton"
            (click)="this.import();">{{'admin.mag-import.page.button.proceed' | translate}}</button>
  </div>
</div>
