:host {
  $primary-box-shadow: 0px 0px 0px 3px $primary inset;
  $scrollbar-color: var(--ds-carousel-scrollbar-color);
  $controls-color-hover: var(--ds-carousel-controls-color-hover);
  $controls-color: var(--ds-carousel-controls-color);

  .thumbnail-grid,
  .h-thumbnail-grid {
    display: grid;
    align-content: start;

    div.thumbnail-container {
      cursor: pointer;
      overflow: hidden;
      scroll-snap-align: start;

      &.selected {
        box-shadow: $primary-box-shadow;
      }
    }

    // Scrollbar styling
    & {
      scrollbar-color: $scrollbar-color transparent;
    }


    &::-webkit-scrollbar-thumb {
      background: $scrollbar-color;
      border-radius: 2ex;
    }
  }

  .thumbnail-grid {
    grid-template-columns: 1fr;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 2px;
    }

    & {
      scrollbar-width: thin;
    }

    &::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
    border-radius: 2ex;
    }
  }

  .h-thumbnail-grid {
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    & {
      scrollbar-width: thin;
    }

    &::-webkit-scrollbar {
      height: 3px;
    }
  }

  .y-btn-container {
  .thumbnail-up-icon {
    transform: rotate(-90deg) translate(-28%, 50%);
  }

  .thumbnail-down-icon {
    transform: rotate(90deg) translate(28%, -50%);
  }

  .thumbnail-up-icon,
  .thumbnail-down-icon {
    background-color: $controls-color-hover;
    opacity: 0.8;

    &:hover {
      background-color: $controls-color;
      opacity: 1;
    }
  }

  .thumbnail-up-btn,
  .thumbnail-down-btn {
    position: absolute;
    right: 50%;
    cursor: pointer;
  }

  .thumbnail-down-btn {
    bottom: 10%;
  }

  .thumbnail-up-btn {
    top: 0;
  }

  .thumbnail-grid-wrapper {
    position: relative;
  }

}
}
