:host {
  $primary-box-shadow: 0px 0px 0px 3px $primary inset;
  $scrollbar-color: var(--ds-carousel-scrollbar-color);
  $controls-color: var(--ds-carousel-with-thumbnails-controls-color);
  $scrollbar-width: 3px;

  .thumbnail-grid,
  .h-thumbnail-grid {
    display: grid;
    align-content: start;

    div.thumbnail-container {
      cursor: pointer;
      overflow: hidden;
      scroll-snap-align: start;

      &.selected {
        box-shadow: $primary-box-shadow;
      }
    }

    // Scrollbar styling
    & {
      scrollbar-color: $scrollbar-color transparent;
    }


    &::-webkit-scrollbar-thumb {
      background: $scrollbar-color;
      border-radius: 2ex;
    }
  }

  .thumbnail-grid {
    grid-template-columns: 1fr;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 2px;
    }

    & {
      scrollbar-width: thin;
    }

    &::-webkit-scrollbar-thumb {
      background: $scrollbar-color;
      border-radius: 2ex;
    }
  }

  .h-thumbnail-grid {
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    & {
      scrollbar-width: thin;
    }

    &::-webkit-scrollbar {
      height: $scrollbar-width;
    }
  }

  .y-btn-container {
    .thumbnail-up-icon,
    .thumbnail-down-icon {
      color: $controls-color;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }

    .thumbnail-up-btn,
    .thumbnail-down-btn {
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      cursor: pointer;
      width: calc(100% - $scrollbar-width);

      &:hover {
        text-decoration: none;
      }
    }

    .thumbnail-down-btn {
      bottom: 0;
    }

    .thumbnail-up-btn {
      top: 0;
    }
  }

  .thumbnail-grid-wrapper {
    position: relative;
  }

}
