<div *ngFor="let sectionComponents of ( sectionComponentRows | async )" class="row mb-3">
    <div *ngFor="let sectionComponent of sectionComponents" [ngSwitch]="sectionComponent.componentType"
        [ngClass]="sectionComponent.style">
    <ds-themed-top-section  *ngSwitchCase="'top'"
                            [sectionId]="sectionId"
                            [topSection]="sectionComponent"></ds-themed-top-section>
    </div>
</div>
<div class="section">
    <div class="row">
        <div class="col-md-7 pr-0">
            <div>
                <img class="no-image" src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate" />
            </div>
        </div>
        <div class="col-md-5 pl-0">
            <div class="carousal-div bg-dark justify-content-center align-items-center d-flex flex-column">
                <h1 class="text-white">Titloo</h1>
                <p class="opacity-50 text-white text-center mt-4">
                    DSpace-CRIS can be extensively configured to meet your needs. Decide which information need to be
                    collected and available
                    with fine-grained security. Start updating the theme to match your Institution's web identity.
                </p>
                <div class="arrow-class mb-4">
                    <i class="fa fa-arrow-left text-white"></i>
                    <i class="fa fa-arrow-right text-white"></i>
                </div>
                <button type="button" class="btn btn-light mt-4">Approfondisci</button>
            </div>
        </div>
    </div>
</div>
<div class="section py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="justify-content-center align-items-center d-flex flex-column h-100">
                    <h1 class="text-dark">
                        I nostri numeri
                    </h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center border-bottom border-dark mb-5">
                            <h1 class="text-dark"> 421</h1>
                            <p class="text-muted"> Persone</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center border-bottom border-dark mb-5">
                            <h1 class="text-dark"> 7841</h1>
                            <p class="text-muted">Persone</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center border-bottom border-dark mb-5">
                            <h1 class="text-dark"> 974741</h1>
                            <p class="text-muted">Persone</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center border-bottom border-dark">
                            <h1 class="text-dark"> 7841</h1>
                            <p class="text-muted">Persone</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center border-bottom border-dark">
                            <h1 class="text-dark"> 7841</h1>
                            <p class="text-muted">Persone</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="text-center border-bottom border-dark">
                            <h1 class="text-dark"> 7841</h1>
                            <p class="text-muted">Persone</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section py-5 mt-5 bg-light">
    <div class="container">
        <div>
            <h1 class="text-dark mb-5" >
                Nuove accessioni
            </h1>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="text-center">
                    <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate"/>
                    <h3 class="h4 text-center text-secondary mt-4">Titolo risorsa 1</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center">
                    <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate"/>
                    <h3 class="h4 text-center text-secondary mt-4">Titolo risorsa 2</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center">
                    <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate"/>
                    <h3 class="h4 text-center text-secondary mt-4">Titolo risorsa 3</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center">
                    <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate"/>
                    <h3 class="h4 text-center text-secondary mt-4">Titolo risorsa 4</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section pt-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 bg-light">
                <div class="p-3">
                    <p class="mb-3 pt-3 text-muted">Percosi</p>
                    <h1 class="mb-3 text-dark">
                      <span class="text-muted">Alla scoperta...</span>
                      nuovi modi per esplorare le nostre risorse digital
                    </h1>
                    <p class="mb-3 text-muted">
                      Loram ipsum dolor sit amet , conescuter adipisicing elit, sed do eiusmed
                      tempor inciddint ut labore
                      et dolore magna
                    </p>
                    <button type="button" class="btn btn-dark">Approfondisci</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-center mb-4 pb-4 position-relative">
                            <img src="assets/images/replacement_image.svg"
                                [attr.alt]="'menu.header.image.logo' | translate" />
                            <div class="titolo">
                                <h3 class="text-dark pt-2">Titolo</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center mb-4 pb-4 position-relative">
                            <img src="assets/images/replacement_image.svg"
                                [attr.alt]="'menu.header.image.logo' | translate" />
                            <div class="titolo">
                                <h3 class="text-dark pt-2">Titolo</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center mb-4 pb-4 position-relative">
                            <img src="assets/images/replacement_image.svg"
                                [attr.alt]="'menu.header.image.logo' | translate" />
                            <div class="titolo">
                                <h3 class="text-dark pt-2">Titolo</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center mb-4 pb-4 position-relative">
                            <img src="assets/images/replacement_image.svg"
                                [attr.alt]="'menu.header.image.logo' | translate" />
                            <div class="titolo">
                                <h3 class="text-dark pt-2">Titolo</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section pb-5 mb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="text-center pb-4 position-relative">
                    <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate"/>
                    <div class="titolo">
                        <h3 class="text-dark pt-2">Titolo</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center pb-4 position-relative">
                    <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate"/>
                    <div class="titolo">
                        <h3 class="text-dark pt-2">Titolo</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center pb-4 position-relative">
                    <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate"/>
                    <div class="titolo">
                        <h3 class="text-dark pt-2">Titolo</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="text-center pb-4 position-relative">
                    <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate"/>
                    <div class="titolo">
                        <h3 class="text-dark pt-2">Titolo</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
