<div>
  <ng-container *ngIf="topSection.showAsCard">
    <!-- CARD VIEW -->
    <div class="card">
      <div *ngIf="topSection.titleKey" class="card-header">{{ 'explore.index.' + topSection.titleKey | translate }}</div>
      <div *ngIf="!topSection.titleKey" class="card-header">{{ 'explore.index.' + topSection.sortField | translate }}</div>
      <div class="card-body">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!topSection.showAsCard">
    <!-- LIST VIEW -->
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </ng-container>
</div>

<ng-template #content>
  <ds-themed-browse-most-elements [context]="context"
                                  [paginatedSearchOptions]="paginatedSearchOptions.asObservable() | async"
                                  [topSection]="topSection">
  </ds-themed-browse-most-elements>
</ng-template>
