<div class="section bg-dark">
  <div class="container p-5">
    <div class="justify-content-center align-items-center d-flex">
      <form>
        <div class="row mb-2">
          <div class="col-md-3">
            <select name="filter"
              class="form-control mr-2 mb-2">
              <option value="all">All</option>
              <option value="title">Title</option>
              <option value="author">Author</option>
              <option value="editor">Editor</option>
              <option value="organization">Organization</option>
              <option value="subject">Subject</option>
              <option value="has_content_in_original_bundle">Has content in original bundle</option>
              <option value="original_bundle_filenames">Original bundle filenames</option>
              <option value="original_bundle_descriptions">Original bundle descriptions</option>
              <option value="entityType">Entity type</option>
            </select>
          </div>
          <div class="col-md-4">
            <input type="text" name="query" class="form-control  mr-2 mb-2 ng-untouched ng-pristine ng-valid">
          </div>
          <div class="col-md-2">
            <select name="operation" id="operation" class="form-control  mb-2 ng-untouched ng-pristine ng-valid ng-star-inserted">
              <option value="AND">
                AND
              </option>
              <option value="OR">
                OR
              </option>
              <option value="NOT">
                NOT
              </option>
            </select>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-3">
            <select name="filter" id="filter"
              class="form-control mr-2 mb-2">
              <option value="all">All</option>
              <option value="title">Title</option>
              <option value="author">Author</option>
              <option value="editor">Editor</option>
              <option value="organization">Organization</option>
              <option value="subject">Subject</option>
              <option value="has_content_in_original_bundle">Has content in original bundle</option>
              <option value="original_bundle_filenames">Original bundle filenames</option>
              <option value="original_bundle_descriptions">Original bundle descriptions</option>
              <option value="entityType">Entity type</option>
            </select>
          </div>
          <div class="col-md-4">
            <input type="text" name="query" id="query"
              class="form-control mr-2 mb-2 ng-untouched ng-pristine ng-valid">
          </div>
          <div class="col-md-2">
            <button id="addButton" type="button"
              class="btn btn-light mr-2 mb-2 w-100 ng-star-inserted ">+</button>
          </div>
          <div class="col-md-3">
            <button type="submit" id="searchButton" class="btn btn-secondary mr-1">CERCA</button>
            <button type="button" id="resetButton" class="btn btn-secondary" style="padding: 5px">ANNULLA</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="section my-4 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="text-dark">Scorpi</h1>
        <h4 class="text-dark mb-1 mt-3">Titolo</h4>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Totolo1</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Totolo2</p>
          <p class="mt-0 mb-0 text-muted">351</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Totolo3</p>
          <p class="mt-0 mb-0 text-muted">512</p>
        </div>
        <h4 class="text-dark mb-1 mt-3">Tipo</h4>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted">Fonda</p>
          <p class="mt-0 mb-0 text-muted">5841</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted">Serie</p>
          <p class="mt-0 mb-0 text-muted">3004</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Collozia</p>
          <p class="mt-0 mb-0 text-muted">469</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Tipo x</p>
          <p class="mt-0 mb-0 text-muted">254</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted">Tipo y</p>
          <p class="mt-0 mb-0 text-muted">212</p>
        </div>
        <h4 class="text-dark mb-1 mt-3">Unita di ricera</h4>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted">Dipartimento ambiento costruzion e design</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Dipartimento ambiento costruzion e design</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Dipartimento ambiento costruzion e design</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Dipartimento ambiento costruzion e design</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <h4 class="text-dark mb-1 mt-3">Sogetto consevation</h4>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted">Universita</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted">Centro studi</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <h4 class="text-dark mb-1 mt-3">persona</h4>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Rossi maria</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted">Verdi mario</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted">Bionchi , mario</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card">
              <h5 class="bg-dark text-white p-2 m-0">Fondo 1</h5>
              <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate" />
              <div class="card-body">
                <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk
                  of the
                  card's
                  content.Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <h5 class="bg-dark text-white p-2 m-0">Fondo 2</h5>
              <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate" />
              <div class="card-body">
                <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk
                  of the
                  card's
                  content.Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <h5 class="bg-dark text-white p-2 m-0">Fondo 3</h5>
              <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate" />
              <div class="card-body">
                <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk
                  of the
                  card's
                  content.Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <h5 class="bg-dark text-white p-2 m-0">Fondo 4</h5>
              <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate" />
              <div class="card-body">
                <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk
                  of the
                  card's
                  content.Some quick example text to build on the card title and make up the bulk of the card's
                  content
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content..</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <h5 class="bg-dark text-white p-2 m-0">Fondo 5</h5>
              <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate" />
              <div class="card-body">
                <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk
                  of the
                  card's
                  content.Some quick example text to build on the card title and make up the bulk of the card's
                  content
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <h5 class="bg-dark text-white p-2 m-0">Fondo 6</h5>
              <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate" />
              <div class="card-body">
                <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk
                  of the
                  card's
                  content.Some quick example text to build on the card title and make up the bulk of the card's
                  content
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
