<!-- <div class="container">
  <div *ngFor="let sectionComponents of ( sectionComponentRows | async )" class="row mb-3">
    <div *ngFor="let sectionComponent of sectionComponents" [ngSwitch]="sectionComponent.componentType"
      [ngClass]="sectionComponent.style">
      <ds-themed-top-section *ngSwitchCase="'top'" [sectionId]="sectionId"
        [topSection]="sectionComponent"></ds-themed-top-section>
      <ds-themed-browse-section *ngSwitchCase="'browse'" [sectionId]="sectionId"
        [browseSection]="sectionComponent"></ds-themed-browse-section>
      <ds-themed-search-section *ngSwitchCase="'search'" [sectionId]="sectionId"
        [searchSection]="sectionComponent"></ds-themed-search-section>
      <ds-themed-facet-section *ngSwitchCase="'facet'" [sectionId]="sectionId"
        [facetSection]="sectionComponent"></ds-themed-facet-section>
      <ds-themed-text-section *ngSwitchCase="'text-row'" [sectionId]="sectionId"
        [textRowSection]="sectionComponent"></ds-themed-text-section>
      <ds-themed-carousel-section *ngSwitchCase="'carousel'" [sectionId]="sectionId"
        [carouselSection]="sectionComponent"></ds-themed-carousel-section>
      <ds-themed-counters-section *ngSwitchCase="'counters'" [sectionId]="sectionId"
        [countersSection]="sectionComponent"></ds-themed-counters-section>
    </div>
  </div>
</div> -->
<div class="section bg-dark">
  <div class="container p-5">
    <div class="justify-content-center align-items-center d-flex">
      <form>
        <div class="row mb-2">
          <div class="col-md-3">
            <select _ngcontent-dspace-angular-c509="" name="filter" id="filter" formcontrolname="filter"
              class="form-control  mr-2 mb-2 ng-pristine ng-valid ng-touched" ng-reflect-name="filter">
              <option _ngcontent-dspace-angular-c509="" value="all" ng-reflect-value="all" class="ng-star-inserted">
                All
              </option>
              <option _ngcontent-dspace-angular-c509="" value="title" ng-reflect-value="title" class="ng-star-inserted">
                Title</option>
              <option _ngcontent-dspace-angular-c509="" value="author" ng-reflect-value="author"
                class="ng-star-inserted">Author</option>
              <option _ngcontent-dspace-angular-c509="" value="editor" ng-reflect-value="editor"
                class="ng-star-inserted">Editor</option>
              <option _ngcontent-dspace-angular-c509="" value="organization" ng-reflect-value="organization"
                class="ng-star-inserted">Organization</option>
              <option _ngcontent-dspace-angular-c509="" value="subject" ng-reflect-value="subject"
                class="ng-star-inserted">Subject</option>
              <option _ngcontent-dspace-angular-c509="" value="has_content_in_original_bundle"
                ng-reflect-value="has_content_in_original_bundle" class="ng-star-inserted">Has content in original
                bundle</option>
              <option _ngcontent-dspace-angular-c509="" value="original_bundle_filenames"
                ng-reflect-value="original_bundle_filenames" class="ng-star-inserted">Original bundle filenames
              </option>
              <option _ngcontent-dspace-angular-c509="" value="original_bundle_descriptions"
                ng-reflect-value="original_bundle_descriptions" class="ng-star-inserted">Original bundle descriptions
              </option>
              <option _ngcontent-dspace-angular-c509="" value="entityType" ng-reflect-value="entityType"
                class="ng-star-inserted">Entity type</option>
            </select>
          </div>
          <div class="col-md-4">
            <input _ngcontent-dspace-angular-c509="" type="text" name="query" id="query" formcontrolname="query"
              class="form-control  mr-2 mb-2 ng-untouched ng-pristine ng-valid" ng-reflect-name="query">
          </div>
          <div class="col-md-2">
            <select _ngcontent-dspace-angular-c509="" name="operation" id="operation" formcontrolname="operation"
              class="form-control  mb-2 ng-untouched ng-pristine ng-valid ng-star-inserted" ng-reflect-name="operation">
              <option _ngcontent-dspace-angular-c509="" value="AND" ng-reflect-value="AND" class="ng-star-inserted">
                AND
              </option>
              <option _ngcontent-dspace-angular-c509="" value="OR" ng-reflect-value="OR" class="ng-star-inserted">OR
              </option>
              <option _ngcontent-dspace-angular-c509="" value="NOT" ng-reflect-value="NOT" class="ng-star-inserted">
                NOT
              </option>
            </select>
          </div>
        </div>


        <div class="row mb-2">
          <div class="col-md-3">
            <select _ngcontent-dspace-angular-c509="" name="filter" id="filter" formcontrolname="filter"
              class="form-control mr-2 mb-2 ng-untouched ng-pristine ng-valid" ng-reflect-name="filter">
              <option _ngcontent-dspace-angular-c509="" value="all" ng-reflect-value="all" class="ng-star-inserted">All
              </option>
              <option _ngcontent-dspace-angular-c509="" value="title" ng-reflect-value="title" class="ng-star-inserted">
                Title</option>
              <option _ngcontent-dspace-angular-c509="" value="author" ng-reflect-value="author"
                class="ng-star-inserted">Author</option>
              <option _ngcontent-dspace-angular-c509="" value="editor" ng-reflect-value="editor"
                class="ng-star-inserted">Editor</option>
              <option _ngcontent-dspace-angular-c509="" value="organization" ng-reflect-value="organization"
                class="ng-star-inserted">Organization</option>
              <option _ngcontent-dspace-angular-c509="" value="subject" ng-reflect-value="subject"
                class="ng-star-inserted">Subject</option>
              <option _ngcontent-dspace-angular-c509="" value="has_content_in_original_bundle"
                ng-reflect-value="has_content_in_original_bundle" class="ng-star-inserted">Has content in original
                bundle</option>
              <option _ngcontent-dspace-angular-c509="" value="original_bundle_filenames"
                ng-reflect-value="original_bundle_filenames" class="ng-star-inserted">Original bundle filenames</option>
              <option _ngcontent-dspace-angular-c509="" value="original_bundle_descriptions"
                ng-reflect-value="original_bundle_descriptions" class="ng-star-inserted">Original bundle descriptions
              </option>
              <option _ngcontent-dspace-angular-c509="" value="entityType" ng-reflect-value="entityType"
                class="ng-star-inserted">Entity type</option>
            </select>
          </div>
          <div class="col-md-4">
            <input _ngcontent-dspace-angular-c509="" type="text" name="query" id="query" formcontrolname="query"
              class="form-control mr-2 mb-2 ng-untouched ng-pristine ng-valid" ng-reflect-name="query">
          </div>
          <div class="col-md-2">
            <button _ngcontent-dspace-angular-c509="" id="addButton" type="button"
              class="btn btn-light mr-2 mb-2 w-100 ng-star-inserted ">+</button>
          </div>
          <div class="col-md-3">
            <button _ngcontent-dspace-angular-c508="" _ngcontent-dspace-angular-c509="" type="submit" id="searchButton" class="btn btn-secondary mr-1">CERCA</button>
            <button _ngcontent-dspace-angular-c509="" type="button" id="resetButton"
              class="btn btn-secondary" style="padding: 5px">ANNULLA</button>
          </div>



          <!-- <div class="col-md-4">
            <button _ngcontent-dspace-angular-c509="" type="submit" id="searchButton"
              class="btn btn-secondary  mr-3">CERCA</button>
            <button _ngcontent-dspace-angular-c509="" type="button" id="resetButton"
              class="btn btn-secondary">ANNULLA</button>
          </div> -->
        </div>

        <!-- <div _ngcontent-dspace-angular-c509="" class="float-right mr-5">
          <button _ngcontent-dspace-angular-c509="" type="submit" id="searchButton"
            class="btn btn-secondary  mr-3">CERCA</button>
          <button _ngcontent-dspace-angular-c509="" type="button" id="resetButton"
            class="btn btn-secondary">ANNULLA</button>
        </div> -->
      </form>
    </div>
  </div>
</div>
<div class="section my-4 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1 class="text-dark">Scorpi</h1>
        <h4 class="text-dark mb-1 mt-3">Titolo</h4>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Totolo1</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Totolo2</p>
          <p class="mt-0 mb-0 text-muted">351</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Totolo3</p>
          <p class="mt-0 mb-0 text-muted">512</p>
        </div>
        <h4 class="text-dark mb-1 mt-3">Tipo</h4>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted">Fonda</p>
          <p class="mt-0 mb-0 text-muted">5841</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted">Serie</p>
          <p class="mt-0 mb-0 text-muted">3004</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Collozia</p>
          <p class="mt-0 mb-0 text-muted">469</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Tipo x</p>
          <p class="mt-0 mb-0 text-muted">254</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted">Tipo y</p>
          <p class="mt-0 mb-0 text-muted">212</p>
        </div>
        <h4 class="text-dark mb-1 mt-3">Unita di ricera</h4>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted">Dipartimento ambiento costruzion e design</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Dipartimento ambiento costruzion e design</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Dipartimento ambiento costruzion e design</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Dipartimento ambiento costruzion e design</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <h4 class="text-dark mb-1 mt-3">Sogetto consevation</h4>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted">Universita</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted">Centro studi</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <h4 class="text-dark mb-1 mt-3">persona</h4>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted"> Rossi maria</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted">Verdi mario</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
        <div class="bg-light d-flex flex-row justify-content-between p-2 border mb-2">
          <p class="mt-0 mb-0 text-muted">Bionchi , mario</p>
          <p class="mt-0 mb-0 text-muted">389</p>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card">
              <h5 class="bg-dark text-white p-2 m-0">Fondo 1</h5>
              <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate" />
              <div class="card-body">
                <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk
                  of the
                  card's
                  content.Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <h5 class="bg-dark text-white p-2 m-0">Fondo 2</h5>
              <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate" />
              <div class="card-body">
                <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk
                  of the
                  card's
                  content.Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <h5 class="bg-dark text-white p-2 m-0">Fondo 3</h5>
              <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate" />
              <div class="card-body">
                <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk
                  of the
                  card's
                  content.Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <h5 class="bg-dark text-white p-2 m-0">Fondo 4</h5>
              <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate" />
              <div class="card-body">
                <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk
                  of the
                  card's
                  content.Some quick example text to build on the card title and make up the bulk of the card's
                  content
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content..</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <h5 class="bg-dark text-white p-2 m-0">Fondo 5</h5>
              <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate" />
              <div class="card-body">
                <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk
                  of the
                  card's
                  content.Some quick example text to build on the card title and make up the bulk of the card's
                  content
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <h5 class="bg-dark text-white p-2 m-0">Fondo 6</h5>
              <img src="assets/images/replacement_image.svg" [attr.alt]="'menu.header.image.logo' | translate" />
              <div class="card-body">
                <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk
                  of the
                  card's
                  content.Some quick example text to build on the card title and make up the bulk of the card's
                  content
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content..</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
