:host {

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        height: 100%;
        cursor: pointer;
    }
    
    .card:hover {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        z-index: 10;
    }
}