.logo-circle {
    width: 120px;
    height: 120px;
    background-position: center;
    background-color: #ddd;
    border-radius: 100%;
    background-image: url("/assets/images/dspace-glam-logo.svg");
    background-repeat: no-repeat;
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
    nav.navbar {
        display: none;
    }
    .header {
        background-color: var(--ds-header-bg);
    }
}

.navbar-brand img {
    @media screen and (max-width: map-get($grid-breakpoints, md)) {
        height: var(--ds-header-logo-height-xs);
    }
}
.navbar-toggler .navbar-toggler-icon {
    background-image: none !important;
    line-height: 1.5;
}

.navbar-toggler {
    color: var(--ds-header-icon-color);

    &:hover, &:focus {
        color: var(--ds-header-icon-color-hover);
    }
}
