<div [class]="field.styleValue" [attr.lang]="metadataValue.language">
  <span class="d-flex align-items-center txt-value">

    @if ((orcidUrl$ | async)) {
      <a href="{{(orcidUrl$ | async)}}/{{metadataValue.value}}" target="_blank">
        {{ metadataValue.value }}
      </a>
    } @else {
      {{ metadataValue.value }}
    }


    <ds-orcid-badge-and-tooltip
      class="ms-1"
      [orcid]="metadataValue"
      [authenticatedTimestamp]="orcidAuthenticatedTimestamp">
    </ds-orcid-badge-and-tooltip>

  </span>
</div>
