<div [class]="field.styleValue" [attr.lang]="metadataValue.language">
    <span class="d-flex align-items-center txt-value">

      <a *ngIf="(orcidUrl$ | async); else noOrcidUrl" href="{{(orcidUrl$ | async)}}/{{metadataValue.value}}" target="_blank">
        {{ metadataValue.value }}
      </a>

      <ng-template #noOrcidUrl>{{ metadataValue.value }}</ng-template>

    <ds-orcid-badge-and-tooltip
      class="ms-1"
      [orcid]="metadataValue"
      [authenticatedTimestamp]="orcidAuthenticatedTimestamp">
    </ds-orcid-badge-and-tooltip>

    </span>
</div>
